In [1]:
#importing libraries
import pandas as pd
import numpy as np
import datetime

In [2]:
#reading csv tables
df_visit = pd.read_csv(r"C:\Users\sagat\OneDrive\Documents\healthcare\visit.csv")
df_diagnosis = pd.read_csv(r"C:\Users\sagat\OneDrive\Documents\healthcare\diagnosis.csv")
df_department = pd.read_csv(r"C:\Users\sagat\OneDrive\Documents\healthcare\department.csv")
df_medication_order = pd.read_csv(r"C:\Users\sagat\OneDrive\Documents\healthcare\medication_order.csv")
df_visit_diagnosis = pd.read_csv(r"C:\Users\sagat\OneDrive\Documents\healthcare\visit_diagnosis.csv")

In [5]:
#Hospital encounter filter
df_visit_hospital = df_visit[df_visit["DICT_ENC_TYPE_KEY"]== 83]

In [10]:
#info of the new dataset
df_visit_hospital.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22796 entries, 3 to 56019
Data columns (total 19 columns):
VISIT_KEY            22796 non-null int64
PAT_KEY              22796 non-null int64
DEPT_KEY             22796 non-null int64
CONTACT_DT_KEY       22796 non-null datetime64[ns]
HSP_ACCT_KEY         22796 non-null int64
DICT_ENC_TYPE_KEY    22796 non-null int64
AGE                  22796 non-null float64
APPT_DT              771 non-null object
APPT_CHECKIN_DT      737 non-null object
APPT_CHECKOUT_DT     573 non-null object
HOSP_ADMIT_DT        22796 non-null object
HOSP_DISCHRG_DT      22796 non-null object
APPT_MADE_DT         771 non-null object
APPT_CANCEL_DT       20 non-null object
CREATE_DT            22796 non-null object
CREATE_BY            22796 non-null object
UPD_DT               22796 non-null object
UPD_BY               22796 non-null object
DOB                  22796 non-null object
dtypes: datetime64[ns](1), float64(1), int64(5), object(12)
memory usage: 3.5+ MB

In [7]:
#Changing Hospital encounter unique key to datetime and filter the dataframe by date
df_visit_hospital["CONTACT_DT_KEY"]= pd.to_datetime(df_visit_hospital["CONTACT_DT_KEY"],format='%Y%m%d')
df_visit_hospital_date = df_visit_hospital[df_visit_hospital["CONTACT_DT_KEY"] >="2014/08/01"]

C:\Users\sagat\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
#looking at the first few rows
df_visit_hospital_date.head()

,VISIT_KEY,PAT_KEY,DEPT_KEY,CONTACT_DT_KEY,HSP_ACCT_KEY,DICT_ENC_TYPE_KEY,AGE,APPT_DT,APPT_CHECKIN_DT,APPT_CHECKOUT_DT,HOSP_ADMIT_DT,HOSP_DISCHRG_DT,APPT_MADE_DT,APPT_CANCEL_DT,CREATE_DT,CREATE_BY,UPD_DT,UPD_BY,DOB
7,82473243,9842839,4780,2014-08-05,-1,83,5.0970,NaN,NaN,NaN,2014-08-05 20:05:00,2014-08-05 20:50:00,NaN,NaN,2014-08-06 02:08:22,CLARITY,2016-04-13 13:16:07,CLARITY,2009-06-28 00:00:00
8,82568037,10262224,4780,2014-08-13,-1,83,2.4086,NaN,NaN,NaN,2014-08-13 00:52:00,2014-08-13 03:01:00,NaN,NaN,2014-08-13 02:05:23,CLARITY,2016-04-13 13:15:34,CLARITY,2012-03-14 00:00:00
9,82930350,10540137,4789,2014-09-09,-1,83,4.6323,NaN,NaN,NaN,2014-09-09 18:09:00,2014-09-11 09:30:00,NaN,NaN,2014-09-10 02:05:54,CLARITY,2016-04-13 13:15:32,CLARITY,2010-01-20 00:00:00
14,83068068,10339071,7311,2014-09-18,-1,83,1.6220,NaN,NaN,NaN,2014-09-18 07:24:00,2014-09-22 10:30:00,NaN,NaN,2014-09-19 02:36:49,CLARITY,2016-04-13 13:17:22,CLARITY,2013-02-02 00:00:00
18,83249653,10353375,4780,2014-09-29,-1,83,1.6744,NaN,NaN,NaN,2014-09-29 17:21:00,2014-09-29 18:39:00,NaN,NaN,2014-09-30 02:06:07,CLARITY,2016-04-13 13:16:03,CLARITY,2013-01-25 00:00:00

In [9]:
# looking at the filtered dataset
df_visit_hospital_date.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17981 entries, 7 to 56019
Data columns (total 19 columns):
VISIT_KEY            17981 non-null int64
PAT_KEY              17981 non-null int64
DEPT_KEY             17981 non-null int64
CONTACT_DT_KEY       17981 non-null datetime64[ns]
HSP_ACCT_KEY         17981 non-null int64
DICT_ENC_TYPE_KEY    17981 non-null int64
AGE                  17981 non-null float64
APPT_DT              594 non-null object
APPT_CHECKIN_DT      571 non-null object
APPT_CHECKOUT_DT     465 non-null object
HOSP_ADMIT_DT        17981 non-null object
HOSP_DISCHRG_DT      17981 non-null object
APPT_MADE_DT         594 non-null object
APPT_CANCEL_DT       11 non-null object
CREATE_DT            17981 non-null object
CREATE_BY            17981 non-null object
UPD_DT               17981 non-null object
UPD_BY               17981 non-null object
DOB                  17981 non-null object
dtypes: datetime64[ns](1), float64(1), int64(5), object(12)
memory usage: 2.7+ MB

In [11]:
#AGE filter
df_visit_hospital_date_age = df_visit_hospital_date[(df_visit_hospital_date.AG >1) & (df_visit_hospital_date.AGE < 18) ]

In [12]:
#Merging visit diagnosis and diagnosis file, and filtering by ICD9_CD code and emergency codes
df_merge = pd.merge(df_visit_diagnosis, df_diagnosis, on = 'DX_KEY' )
ICD9_code = ['995.0' ,'995.3','995.6','995.60','995.61','995.62','995.63','995.64','995.65','995.66','995.67','995.68','995.69','995.7','999.4','999.41','999.42','999.49']
df_visit_diagnosis_emergency=df_merge[(df_merge.DICT_DX_STS_KEY.isin(["313", "314"]))& (df_merge.ICD9_CD.isin(ICD9_code)) ]
df_visit_hospital_date_age_emergency=df_visit_hospital_date_age[df_visit_hospital_date_age.VISIT_KEY.isin(df_visit_diagnosis_emergency.VISIT_KEY)]

In [13]:
# Checking the new datasets
df_visit_hospital_date_age_emergency.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 502 entries, 92 to 55778
Data columns (total 19 columns):
VISIT_KEY            502 non-null int64
PAT_KEY              502 non-null int64
DEPT_KEY             502 non-null int64
CONTACT_DT_KEY       502 non-null datetime64[ns]
HSP_ACCT_KEY         502 non-null int64
DICT_ENC_TYPE_KEY    502 non-null int64
AGE                  502 non-null float64
APPT_DT              0 non-null object
APPT_CHECKIN_DT      0 non-null object
APPT_CHECKOUT_DT     0 non-null object
HOSP_ADMIT_DT        502 non-null object
HOSP_DISCHRG_DT      502 non-null object
APPT_MADE_DT         0 non-null object
APPT_CANCEL_DT       0 non-null object
CREATE_DT            502 non-null object
CREATE_BY            502 non-null object
UPD_DT               502 non-null object
UPD_BY               502 non-null object
DOB                  502 non-null object
dtypes: datetime64[ns](1), float64(1), int64(5), object(12)
memory usage: 78.4+ KB

In [15]:
#Filering for encounters not at Urgent Care Dept
df_department_filtered= df_department[df_department.DEPT_CNTR.str.contains('URGENT CARE') == False]
df_patient_cohort=df_visit_hospital_date_age_emergency[df_visit_hospital_date_age_emergency.DEPT_KEY.isin(df_department_filtered.DEPT_KEY)]

In [16]:
df_patient_cohort.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 459 entries, 92 to 55778
Data columns (total 19 columns):
VISIT_KEY            459 non-null int64
PAT_KEY              459 non-null int64
DEPT_KEY             459 non-null int64
CONTACT_DT_KEY       459 non-null datetime64[ns]
HSP_ACCT_KEY         459 non-null int64
DICT_ENC_TYPE_KEY    459 non-null int64
AGE                  459 non-null float64
APPT_DT              0 non-null object
APPT_CHECKIN_DT      0 non-null object
APPT_CHECKOUT_DT     0 non-null object
HOSP_ADMIT_DT        459 non-null object
HOSP_DISCHRG_DT      459 non-null object
APPT_MADE_DT         0 non-null object
APPT_CANCEL_DT       0 non-null object
CREATE_DT            459 non-null object
CREATE_BY            459 non-null object
UPD_DT               459 non-null object
UPD_BY               459 non-null object
DOB                  459 non-null object
dtypes: datetime64[ns](1), float64(1), int64(5), object(12)
memory usage: 71.7+ KB

In [17]:
#New column created and given value 1 if diagnosis text contains "anaphylaxis"
df_merge_ana= df_merge[df_merge['DX_NM'].str.contains('anaphylaxis', case=False)]
df_patient_cohort['ANAPH_DX_IND'] = np.where(df_patient_cohort['VISIT_KEY'].isin(df_merge_ana.VISIT_KEY), 1, 0)

C:\Users\sagat\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
#New column created and given value 1 if medication order name contains "epinephrine"
df_medication_order=df_medication_order.dropna(subset=['MED_ORD_NM'])
df_medication_order_epi= df_medication_order[df_medication_order['MED_ORD_NM'].str.contains('epinephrine',case=False)]
df_patient_cohort['EPI_ORDER_IND'] = np.where(df_patient_cohort['VISIT_KEY'].isin(df_medication_order_epi.VISIT_KEY), 1, 0)

C:\Users\sagat\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
df_patient_cohort.head()

,VISIT_KEY,PAT_KEY,DEPT_KEY,CONTACT_DT_KEY,HSP_ACCT_KEY,DICT_ENC_TYPE_KEY,AGE,APPT_DT,APPT_CHECKIN_DT,APPT_CHECKOUT_DT,...,HOSP_DISCHRG_DT,APPT_MADE_DT,APPT_CANCEL_DT,CREATE_DT,CREATE_BY,UPD_DT,UPD_BY,DOB,ANAPH_DX_IND,EPI_ORDER_IND
92,83146841,10236417,4780,2014-09-23,-1,83,2.4639,NaN,NaN,NaN,...,2014-09-23 11:51:00,NaN,NaN,2014-09-24 02:02:53,CLARITY,2016-04-13 13:15:44,CLARITY,2012-04-04 00:00:00,0,0
105,83835383,9353426,4780,2014-11-06,-1,83,9.7906,NaN,NaN,NaN,...,2014-11-06 19:56:00,NaN,NaN,2014-11-07 02:37:23,CLARITY,2016-04-13 13:17:35,CLARITY,2005-01-20 00:00:00,0,0
564,82996943,10283718,4780,2014-09-13,-1,83,2.1729,NaN,NaN,NaN,...,2014-09-13 11:26:00,NaN,NaN,2014-09-14 02:25:17,CLARITY,2016-04-13 13:16:45,CLARITY,2012-07-09 00:00:00,0,0
1117,82658331,10395280,4780,2014-08-18,-1,83,3.0296,NaN,NaN,NaN,...,2014-08-18 18:09:00,NaN,NaN,2014-08-19 07:11:45,CLARITY,2016-04-13 13:16:48,CLARITY,2011-08-05 00:00:00,0,0
1143,82718046,9618533,4780,2014-08-23,-1,83,7.0296,NaN,NaN,NaN,...,2014-08-23 15:14:00,NaN,NaN,2014-08-24 02:27:53,CLARITY,2016-04-13 13:16:34,CLARITY,2007-08-10 00:00:00,1,1

In [20]:
#Dropping columns not required and converting datetime columns to datetime
df_patients_cohort_filter = df_patient_cohort[['PAT_KEY','VISIT_KEY','HOSP_ADMIT_DT','HOSP_DISCHRG_DT','AGE','ANAPH_DX_IND','EPI_ORDER_IND']]
df_patients_cohort_filter["HOSP_DISCHRG_DT"]=pd.to_datetime(df_patients_cohort_filter["HOSP_DISCHRG_DT"])
df_patients_cohort_filter["HOSP_ADMIT_DT"]=pd.to_datetime(df_patients_cohort_filter["HOSP_ADMIT_DT"])

C:\Users\sagat\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\sagat\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
df_patients_cohort_filter.head()

,PAT_KEY,VISIT_KEY,HOSP_ADMIT_DT,HOSP_DISCHRG_DT,AGE,ANAPH_DX_IND,EPI_ORDER_IND
92,10236417,83146841,2014-09-23 10:33:00,2014-09-23 11:51:00,2.4639,0,0
105,9353426,83835383,2014-11-06 19:06:00,2014-11-06 19:56:00,9.7906,0,0
564,10283718,82996943,2014-09-13 10:29:00,2014-09-13 11:26:00,2.1729,0,0
1117,10395280,82658331,2014-08-18 16:17:00,2014-08-18 18:09:00,3.0296,0,0
1143,9618533,82718046,2014-08-23 11:46:00,2014-08-23 15:14:00,7.0296,1,1

In [22]:
#Office vist encounter dataframe
df_office=df_visit[df_visit["DICT_ENC_TYPE_KEY"]==108]
df_office_filter= df_office[['PAT_KEY','APPT_CHECKIN_DT']]

In [23]:
#Merging patient cohort with office visit df on patient key and with a left join
df_office_hospital = pd.merge(df_patients_cohort_filter, df_office_filter, on = 'PAT_KEY', how="inner")
df_office_hospital=df_office_hospital[['PAT_KEY','VISIT_KEY','HOSP_DISCHRG_DT','APPT_CHECKIN_DT']]

In [24]:
#Converting datetime columns to datetime
df_office_hospital["HOSP_DISCHRG_DT"]=pd.to_datetime(df_office_hospital["HOSP_DISCHRG_DT"])
df_office_hospital["APPT_CHECKIN_DT"]=pd.to_datetime(df_office_hospital["APPT_CHECKIN_DT"])

In [25]:
#follow up indicator is 1 if follow up with 7 days
df_office_hospital["FOLLOW_UP_IND"]=np.where(((df_office_hospital.APPT_CHECKIN_DT.dt.date-df_office_hospital.HOSP_DISCHRG_DT.dt.date)/ (np.timedelta64(1, 'D'))).astype(int).isin([0,1,2,3,4,5,6,7]), 1, 0)
df_office_hospital_follow=df_office_hospital[df_office_hospital.FOLLOW_UP_IND==1]

In [27]:
#Days to follow up calculated if with 7 days and follow up column added
df_office_hospital_follow["DAYS_TO_FOLLOW_UP"]=((df_office_hospital_follow.APPT_CHECKIN_DT.dt.date-df_office_hospital_follow.HOSP_DISCHRG_DT.dt.date)/ (np.timedelta64(1, 'D'))).astype(int)
df_office_hospital_follow["FOLLOW_UP_DATE"]=df_office_hospital_follow["APPT_CHECKIN_DT"]
df_follow_final=df_office_hospital_follow.loc[df_office_hospital_follow.groupby(["VISIT_KEY"])["DAYS_TO_FOLLOW_UP"].idxmin()].reset_index()

C:\Users\sagat\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\sagat\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
#Merging newly created columns to patient cohort with a left join
patient_cohort_final = pd.merge(df_patients_cohort_filter, df_follow_final, on = ["VISIT_KEY", "PAT_KEY", "HOSP_DISCHRG_DT"], how = "left")

In [29]:
#Dropping column not needed in final table
patient_cohort_final= patient_cohort_final.drop(["HOSP_DISCHRG_DT", "index", "APPT_CHECKIN_DT"], axis=1)

In [30]:
#Converting columns to categorical
patient_cohort_final.ANAPH_DX_IND= pd.Categorical(patient_cohort_final.ANAPH_DX_IND)
patient_cohort_final.EPI_ORDER_IND= pd.Categorical(patient_cohort_final.EPI_ORDER_IND)
patient_cohort_final.FOLLOW_UP_IND= patient_cohort_final.FOLLOW_UP_IND.fillna(0)
patient_cohort_final.FOLLOW_UP_IND =pd.Categorical(patient_cohort_final.FOLLOW_UP_IND)

In [31]:
#Exporting dateframe to csv
patient_cohort_final.to_csv("~/Desktop/patient_cohort.csv")